1. What are data structures, and why are they important?
    - Data structures are ways to orginize data for efficient access and modification, they improve performance, memory efficiency and scalability of programs
1. Explain the difference between mutable and immutable data types with examples.
    - Mutable: can be changes after creation. eg: list, dict, set
    - Immutable cannot be changed after creation. eg: int, float, str, tuple
1. What are the main differences between lists and tuples in Python?
    - Lists are mutable while tuples are immutable, faster and memory efficient.
1. Describe how dictionaries store data.
    - Dict stores data in key-value pair where key is named index to its value.
1. Why might you use a set instead of a list in Python?
    - Might use set when uniqueness is required without handling explicitly.
1. What is a string in Python, and how is it different from a list?
    - String is sequence of characters enclosed in quotes, while list is a sequence of items that can include different data types.
1. How do tuples ensure data integrity in Python?
    - By being immutable meaning once they are created their elements cannot be changed, added or removed.
1. What is a hash table, and how does it relate to dictionaries in Python?
    - Hash table is a data stucture that stores key:value pairs, allowing for fast data retrieval using hash function to generate an index for each key.
1. Can lists contain different data types in Python?
    - Yes.
1. Explain why strings are immutable in Python.
    - Strings are immutable by design for following reasons improve performance, reliable hashing, memory optimization and sharing across programs.
1. What advantages do dictionaries offer over lists for certain tasks?
    - Dict offers access to value using key(named) not just index like list.
1. Describe a scenario where using a tuple would be preferable over a list.
    - When you need to store collection of items that should not change, such as coordination of point in a 2D space. eg: (x,y) = (23,45)
1. How do sets handle duplicate values in Python?
    - Set using hashing, so values can appear only once.
1. How does the “in” keyword work differently for lists and dictionaries?
    - In list, it checks if a value exists among the elements, while in dict, it checks if a key exists amoung the dict's key.
1. Can you modify the elements of a tuple? Explain why or why not.
    - No because tuples are immutable in python, if tuple contains mutable object then that object can be modified.
1. What is a nested dictionary, and give an example of its use case?
    - A dict that contains another dict as a value.
    - Used to represent structured or hierarchical data.
1. Describe the time complexity of accessing elements in a dictionary.
    - Dictionary elements access is O(1) on average due to hashing, but can degrade to O(n) in worst case.
1. In what situations are lists preferred over dictionaries?
    - Ordered, index based collections that allows duplicates and don't require key:value pair.
1. Why are dictionaries considered unordered, and how does that affect data retrieval?
    - Dict are based on hash table, so elements are stored by hash value, not by position and access is done by key not index.
1. Explain the difference between a list and a dictionary in terms of data retrieval.
    - In list data is reterived using a numeric value while in dict data is reterived using a key.

In [5]:
# Write a code to create a string with your name and print it
name = 'Vatsal Tailor'
print(name)

'Vatsal Tailor'

In [4]:
# Write a code to find the length of the string "Hello World".

s = "Hello World"
len(s)

11

In [6]:
#  Write a code to slice the first 3 characters from the string "Python Programming".
s = "Python Programming"
s[:3]

'Pyt'

In [8]:
# Write a code to convert the string "hello" to uppercase
"hello".upper()

'HELLO'

In [9]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"

s = "I like apple"
s.replace('apple', 'orange')

'I like orange'

In [10]:
# Write a code to create a list with numbers 1 to 5 and print it
[i+1 for i in range(5)]

[1, 2, 3, 4, 5]

In [15]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
l = [1, 2, 3, 4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [16]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l = [1, 2, 3, 4, 5]
l.remove(3)
print(l)

[1, 2, 4, 5]

In [18]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l = ['a', 'b', 'c', 'd']
l[1]

'b'

In [19]:
# Write a code to reverse the list [10, 20, 30, 40, 50]
l = [10, 20, 30, 40, 50]
l[::-1]

[50, 40, 30, 20, 10]

In [22]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it
t = (100, 200, 300)
t

(100, 200, 300)

In [23]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t = ('red', 'green', 'blue', 'yellow')
t[-2]

'blue'

In [24]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t = (10, 20, 5, 15)
min(t)

5

In [25]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
t = ('dog', 'cat', 'rabbit')
t.index('cat')

1

In [26]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
t = ('apple', 'orange', 'banana', 'kiwi')
'kiwi' in t

True

In [28]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
s

{'a', 'b', 'c'}

In [33]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
print(s)
s.clear()
print(s)

{1, 2, 3, 4, 5}
set()

In [39]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}
s = {1, 2, 3, 4}
s.discard(4)
s

{1, 2, 3}

In [40]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s1 = {1,2,3}
s2 = {3,4,5}
s1 | s2

{1, 2, 3, 4, 5}

In [41]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1 & s2

{2, 3}

In [43]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d = {
    "name": "Vatsal Tailor",
    "age": 25,
    "city": "Surat"
}
d

{'name': 'Vatsal Tailor', 'age': 25, 'city': 'Surat'}

In [44]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d = {'name': 'John', 'age': 25}
d['country'] = "USA"
d

{'name': 'John', 'age': 25, 'country': 'USA'}

In [46]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d = {'name': 'Alice', 'age': 30}
d.get('name')

'Alice'

In [48]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
d

{'name': 'Bob', 'city': 'New York'}

In [49]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d = {'name': 'Alice', 'city': 'Paris'}
'city' in d

True

In [51]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
l = ["vatsal", 25, "surat"]
t = ("tailor", 26, 'valsad')
d = {"name": "Vatsal Tailor", "age": 25, "city": "Surat"}
print('list ',l)
print('tuple ',t)
print('dict ',d)

list  ['vatsal', 25, 'surat']
tuple  ('tailor', 26, 'valsad')
dict  {'name': 'Vatsal Tailor', 'age': 25, 'city': 'Surat'}

In [52]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[7, 20, 36, 40, 42]

In [53]:
# Write a code to create a list with strings and print the element at the third index
l = ['apple', 'banana', 'cherry', 'kiwi', 'orange']
l[3]

'kiwi'

In [56]:
# Write a code to combine two dictionaries into one and print the result
d1 = {"name": "Vatsal Tailor", "age": 25, "city": "Surat", "fruit": "orange"}
d2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d1.update(d2)
d1

{'name': 'Bob', 'age': 22, 'city': 'New York', 'fruit': 'orange'}

In [57]:
# Write a code to convert a list of strings into a set.
l = ['apple', 'banana', 'cherry', 'kiwi', 'orange','banana']
s = set(l)
s

{'apple', 'banana', 'cherry', 'kiwi', 'orange'}